@import "tailwindcss";

body {
    background-color: #FFF7F3;
    margin: 0;
    font-family: Arial, sans-serif;

}

.navbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    color: #C599B6;
    background-color: #FFF7F3;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: #C599B6 0px 0px 10px;
    z-index: 1; 
}

.navbarLogo, 
.tambahannav {
    font-size: 1.6em;
}

.navbarLogo a {
    color: #C599B6;
    text-decoration: none;
}

.navbarMenu {
    list-style: none;
    display: flex;
    align-self: center;
    padding: 0;
}

.navbarMenu a {
    color: #C599B6;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.tambahannav {
    color: #FFF7F3;
}


.section1 {
    margin: 100px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.section1 img {
    width: 40%;
}

.sec1_text h1{
    font-size: 6em;
    margin: 0 0 20px 0;
    color: #C599B6;
}

.sec1_text button{
    text-decoration: none;
    border: none;
    font-size: 2em;
    color: #FFF7F3;
    background-color: #C599B6;
    padding: 15px;
    border-radius: 10px;
}

.sec1_text a {
    text-decoration: none;
    color: #FFF7F3;
}

.bentuk {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    z-index: -1;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 5%;
}

.cosplay-card {
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C599B6;
    margin: 10px;
    border-radius: 20px;
    box-shadow: #C599B6 0px 0px 30px;
}

.cosplay-card

.gambar-card {
    background-color: #FAD0C4;
    height: 200px;
    width: 200px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

.footer {
    background-color: #C599B6;
    color: #FFF7F3;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}